## Transaction Fee

트랜잭션 수수료는 블록체인에 트랜잭션을 생성하므로써 발생하는 비용을 의미합니다.

Paradise API에서 제공하는 온체인 서비스는 다음과 같습니다.

- <a href="#withdraw-funds">Withdraw Funds</a>

### Withdraw Funds API

사용자가 지갑에 보유한 자산을 다른 지갑으로 전송하는 기능입니다. 이때 지갑에 보유한 자산은 트랜잭션 수수료를 지불할 만큼 충분한 양이어야 합니다.

전송할 자산의 양에 따라 트랜잭션 수수료가 다르게 발생하며, 총 전송량에 1%가 수수료로 부과됩니다. 예를 들어, 100 GNI를 전송하려면 1 GNI가 수수료로 부과되어 총 101 GNI가 소모됩니다.

```
전송량(100 GNI) + 수수료(1 GNI) = 총 소모량(101 GNI)
```