---
title: API Reference

language_tabs: # must be one of https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers
  - http
  - shell: cURL
  - javascript

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Kittn API
---

OVERVIEW
========

> API Endpoint

```
<%= config[:base_url] %>
```

Paradise Game은 Dapp 개발을 위해 다음과 같은 API를 제공하고 있습니다.

- Paradise 플랫폼 인증을 통한 블록체인 서비스
- 사용자 친화적인 블록체인 어카운트 제공
- 사용자 프로필과 애플리케이션 푸시 알림

<%= partial "includes/authentication/index.md.erb" %>
<%= partial "includes/user/index.md.erb" %>
